body{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    background-color: #042525;
    font-family: 'century gothic';
}
.sec1
{
    background-color: #042525;
    min-height: 700px;
}
header
{
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.hero-content
{
  margin-top: 150px;
  width: 250px;
  color: white;
  margin-left: 200px;
  font-size: 15px;
}
.smcont
{
    color: white;
    position: absolute;
    transform: rotate(-90deg);
    margin-left: -40px;
    margin-top: 150px;
 
}
.hero-content h1{
    font-size: 40px;
    line-height: 27px;
}
.roundbg
{
    position: absolute;
    height: 570px;
    width: 590px;
    border-radius: 50%;
    margin-left: 750px;
    margin-top: -30px;
    background-color: #064646;
}
.roundsm
{
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #196666;
    margin-left: 90px;
    margin-top: 80px;
    
}

.roundsm{
    display: inline-block;
   animation:flash; 
   animation-duration: 0.3s;
   animation-delay: 2s;
 }
 .roundbg{
    display: inline-block;
   
   animation:flash; 
   animation-duration:0.3s;
   animation-delay: 1s;
 }
#img
{
    position: absolute;
    height: 550px;
    width: 450px;
    
    margin-left: 830px;
}
#img{
    display: inline-block;
   background-position: '500px 0px';
   animation:slideInDown ; 
   animation-duration: 2s;
 }
span
{
    color: #E9FF63;
    margin-left: 22px;
    line-height: 1;
}
.hero-content p{
    width: 240px;
left: 205px;
top: 474px;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 20px;
color: #FFFFFF;
margin-top: -10px;
}

#btn
{
    padding: 7px 20px;
    background-color: #3E8449;
    border: 1px solid transparent;
    color: white;
    font-weight: bold;
    font-size: 19px;
    margin-top: 20px;
}
#btn:hover
{
    opacity: 0.7;
}
.logo 
{
font-style: normal;
font-weight: bolder;
font-size: 36px;
line-height: 45px;
margin-top: -19px;
color: #F2EEEE;
letter-spacing: 2px;
}
.logo {
       display: inline-block;
        margin: 0 0.5rem;
        animation:backInDown; 
        animation-duration:1s;
      }
.ul
{
    display: inline-block;
        margin: 0 0.5rem;
        animation:backInDown; 
        animation-duration: 1s;
        animation-delay: 1s;
}
/* .hero-content
{
        animation:flash; 
        animation-duration: 2s;
        animation-delay: 2s;
} */

nav
{
    color:white;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
li{
    display: inline-block;
    padding:20px;
    font-size: 20px;
    margin-top: -19px;
    font-weight: 400;
}
.div
{
    margin-top: 500px;
}
.container
{
    max-width: 1100px;
    margin: auto;
    overflow:auto;
}
a
{
    color: #333;
    text-decoration: none;
}
img{
    width: 350px;
    height: 400px;
}
.card
{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    background-color: #3E8449;
    grid-gap:2rem;
    margin-bottom: 20px;
}

.card p{
    font-size: 16px;
    line-height: 20px;
}
.card a{
    background-color: #333;
    color: white;
    padding: 5px 20px;
}
.card:nth-child(even)img{
    order: 2;
}











